<div class="row" id="workflow-bar-wrapper">
  <div class="col-xs-12">
    <ul class="workflow-bar">
      <li class="shift-block-configure">
        <div class="workflow-label">Shift Block</div>
      </li>
      <li class="date-time-configure">
        <div class="workflow-label">Starting Dates and Times</div>
      </li>
      <li class="calendar-confirmation">
        <div class="workflow-label">Preview Calendar</div>
      </li>
      <li class="google-sync-configure">
        <div class="workflow-label">Sync with Google</div>
      </li>
    </ul>
  </div>
</div>
