<%= javascript_include_tag 'calendar', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'calendar' %>

<script type="text/javascript">
  Calendar.init();
</script>

<div id="calendar"></div>
